<ion-view title="로그인" nav-transition="none" id="page2">
  <ion-content padding="true" class="has-header">
    <form id="page2-form1" class="list">
      <ion-list id="page2-list1">
        <label class="item item-input" id="page2-input1">
          <input type="text" placeholder="아이디">
        </label>
        <label class="item item-input" id="page2-input2">
          <input type="password" placeholder="비밀번호">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <div id="page2-markdown10" style="text-align:center;" class="show-list-numbers-and-dots"></div>
      <a ui-sref="page5()" id="page2-button3" class="button button-stable button-block">로그인</a>
      <a ui-sref="page3()" id="page2-button4" class="button button-positive button-small button-block button-clear">새 계정 만들기</a>
      <a ui-sref="page4()" id="page2-button6" class="button button-positive button-small button-block button-clear">아이디 / 비밀번호 찾기</a>
    </form>
  </ion-content>
</ion-view>