<ion-view title="회원가입" nav-transition="none" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="page3-form2" class="list">
      <ion-list id="page3-list2">
        <label class="item item-input" id="page3-input3">
          <span class="input-label">아이디</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="page3-input5">
          <span class="input-label">비밀번호</span>
          <input type="password" placeholder="">
        </label>
        <label class="item item-input" id="page3-input7">
          <span class="input-label">비밀번호 확인</span>
          <input type="password" placeholder="">
        </label>
        <label class="item item-input" id="page3-input4">
          <span class="input-label">이름</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="page3-input8">
          <span class="input-label">이메일</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="page3-input6">
          <span class="input-label">군번</span>
          <input type="number" placeholder="' - ' 는 포함하지 말 것">
        </label>
        <label class="item item-input" id="page3-input12">
          <span class="input-label">전화번호</span>
          <input type="tel" placeholder="' - ' 는 포함하지 말 것">
        </label>
      </ion-list>
      <a ui-sref="page2()" id="page3-button5" class="button button-stable button-block">회원가입</a>
    </form>
  </ion-content>
</ion-view>