<ion-view title="첫화면" hide-nav-bar="true" id="page12">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div class="spacer" style="height: 5%;"></div>
    <div>
      <img src="img/YIKeHsEOSmmwG9aQfQDE_.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="page12-heading8" style="color:#3880FF;font-weight:600;font-style:italic;text-align:center;">ROK AIR FORCE</h1>
    <div id="page12-markdown11" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#3880FF;">The Highest Power Defending Korea</p>
    </div>
    <div class="spacer" style="height: 10%;"></div>
    <a ui-sref="page2()" id="page12-button14" style="border-radius:15px 15px 15px 15px;" class="button button-positive button-block">로그인</a>
    <a ui-sref="page3()" id="page12-button15" style="border-radius:15px 15px 15px 15px;" class="button button-positive button-block button-outline">회원가입</a>
  </ion-content>
</ion-view>